@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #191919;
}

.happy-monkey {
  font-family: "Happy Monkey", serif;
  font-weight: 400;
  font-style: normal;
}


.btn {
  @apply px-4 py-2 rounded-lg font-semibold transition-all duration-300 ease-in-out hover:font-bold hover:scale-105 hover:shadow-lg;
}

.btn-primary {
  @apply bg-blue-500 text-white hover:bg-blue-600;
}

.btn-secondary {
  @apply bg-gray-500 text-white hover:bg-gray-600;
}

.btn-tertiary {
  @apply bg-green-500 text-white hover:bg-green-600;
}

.btn-quaternary {
  @apply bg-red-500 text-white hover:bg-red-600;
}